.red {background: rgb(255,48,25); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,48,25,1)), color-stop(100%,rgba(207,4,4,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 }

.orange {background: rgb(255,175,75); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,175,75,1)), color-stop(100%,rgba(255,146,10,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 }

.yellow { background: rgb(255,255,136); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,136,1) 0%, rgba(255,255,136,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,136,1)), color-stop(100%,rgba(255,255,136,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,136,1) 0%,rgba(255,255,136,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,136,1) 0%,rgba(255,255,136,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,136,1) 0%,rgba(255,255,136,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(255,255,136,1) 0%,rgba(255,255,136,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffff88',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.green{background: rgb(210,255,82); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(210,255,82,1)), color-stop(100%,rgba(145,232,66,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.blue { background: rgb(135,224,253); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(135,224,253,1) 0%, rgba(83,203,241,1) 40%, rgba(5,171,224,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(135,224,253,1)), color-stop(40%,rgba(83,203,241,1)), color-stop(100%,rgba(5,171,224,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.indigo { background: rgb(96,108,136); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(96,108,136,1) 0%, rgba(63,76,107,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(96,108,136,1)), color-stop(100%,rgba(63,76,107,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.violet {background: rgb(229,112,231); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(229,112,231,1) 0%, rgba(200,94,199,1) 47%, rgba(168,73,163,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(229,112,231,1)), color-stop(47%,rgba(200,94,199,1)), color-stop(100%,rgba(168,73,163,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(229,112,231,1) 0%,rgba(200,94,199,1) 47%,rgba(168,73,163,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(229,112,231,1) 0%,rgba(200,94,199,1) 47%,rgba(168,73,163,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(229,112,231,1) 0%,rgba(200,94,199,1) 47%,rgba(168,73,163,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(229,112,231,1) 0%,rgba(200,94,199,1) 47%,rgba(168,73,163,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e570e7', endColorstr='#a849a3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 }

.pink{background: rgb(255,0,132); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(255,0,132,1) 0%, rgba(255,0,132,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,0,132,1)), color-stop(100%,rgba(255,0,132,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,0,132,1) 0%,rgba(255,0,132,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(255,0,132,1) 0%,rgba(255,0,132,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(255,0,132,1) 0%,rgba(255,0,132,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(255,0,132,1) 0%,rgba(255,0,132,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0084', endColorstr='#ff0084',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.orangered {background: rgb(255,26,0); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(255,26,0,1) 0%, rgba(255,26,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,26,0,1)), color-stop(100%,rgba(255,26,0,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,26,0,1) 0%,rgba(255,26,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(255,26,0,1) 0%,rgba(255,26,0,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(255,26,0,1) 0%,rgba(255,26,0,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(255,26,0,1) 0%,rgba(255,26,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1a00', endColorstr='#ff1a00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 }

.emerald { background: rgb(169,219,128); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(169,219,128,1) 0%, rgba(150,197,111,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(169,219,128,1)), color-stop(100%,rgba(150,197,111,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(169,219,128,1) 0%,rgba(150,197,111,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(169,219,128,1) 0%,rgba(150,197,111,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(169,219,128,1) 0%,rgba(150,197,111,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(169,219,128,1) 0%,rgba(150,197,111,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9db80', endColorstr='#96c56f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.lavender { background: rgb(122,188,255); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(122,188,255,1)), color-stop(44%,rgba(96,171,248,1)), color-stop(100%,rgba(64,150,238,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.skyblue { background: rgb(254,255,255); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(254,255,255,1) 0%, rgba(221,241,249,1) 35%, rgba(160,216,239,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(254,255,255,1)), color-stop(35%,rgba(221,241,249,1)), color-stop(100%,rgba(160,216,239,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


/****************************************************

*********************************************************/

.red_linear_top{background: -moz-linear-gradient(top,  rgba(207,4,4,1) 0%, rgba(255,48,25,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(207,4,4,1)), color-stop(100%,rgba(255,48,25,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(207,4,4,1) 0%,rgba(255,48,25,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(207,4,4,1) 0%,rgba(255,48,25,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(207,4,4,1) 0%,rgba(255,48,25,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(207,4,4,1) 0%,rgba(255,48,25,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf0404', endColorstr='#00ff3019',GradientType=0 ); /* IE6-9 */
}
.orange_linear_top{background: -moz-linear-gradient(top,  rgba(255,146,10,1) 0%, rgba(255,175,74,0) 99%, rgba(255,175,75,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,146,10,1)), color-stop(99%,rgba(255,175,74,0)), color-stop(100%,rgba(255,175,75,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,146,10,1) 0%,rgba(255,175,74,0) 99%,rgba(255,175,75,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,146,10,1) 0%,rgba(255,175,74,0) 99%,rgba(255,175,75,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,146,10,1) 0%,rgba(255,175,74,0) 99%,rgba(255,175,75,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,146,10,1) 0%,rgba(255,175,74,0) 99%,rgba(255,175,75,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff920a', endColorstr='#00ffaf4b',GradientType=0 ); /* IE6-9 */
}
.yellow_linear_top{background: -moz-linear-gradient(top,  rgba(241,218,54,1) 0%, rgba(254,252,234,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(241,218,54,1)), color-stop(100%,rgba(254,252,234,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(241,218,54,1) 0%,rgba(254,252,234,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(241,218,54,1) 0%,rgba(254,252,234,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(241,218,54,1) 0%,rgba(254,252,234,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(241,218,54,1) 0%,rgba(254,252,234,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1da36', endColorstr='#00fefcea',GradientType=0 ); /* IE6-9 */
}
.green_linear_top{background: -moz-linear-gradient(top,  rgba(145,232,66,1) 0%, rgba(209,255,82,0) 99%, rgba(210,255,82,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(145,232,66,1)), color-stop(99%,rgba(209,255,82,0)), color-stop(100%,rgba(210,255,82,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(145,232,66,1) 0%,rgba(209,255,82,0) 99%,rgba(210,255,82,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(145,232,66,1) 0%,rgba(209,255,82,0) 99%,rgba(210,255,82,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(145,232,66,1) 0%,rgba(209,255,82,0) 99%,rgba(210,255,82,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(145,232,66,1) 0%,rgba(209,255,82,0) 99%,rgba(210,255,82,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91e842', endColorstr='#00d2ff52',GradientType=0 ); /* IE6-9 */
}
.blue_linear_top{background: -moz-linear-gradient(top,  rgba(5,171,224,1) 0%, rgba(83,203,241,0.4) 60%, rgba(135,224,253,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(5,171,224,1)), color-stop(60%,rgba(83,203,241,0.4)), color-stop(100%,rgba(135,224,253,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(5,171,224,1) 0%,rgba(83,203,241,0.4) 60%,rgba(135,224,253,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(5,171,224,1) 0%,rgba(83,203,241,0.4) 60%,rgba(135,224,253,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(5,171,224,1) 0%,rgba(83,203,241,0.4) 60%,rgba(135,224,253,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(5,171,224,1) 0%,rgba(83,203,241,0.4) 60%,rgba(135,224,253,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#0087e0fd',GradientType=0 ); /* IE6-9 */
}
.indigo_linear_top{background: -moz-linear-gradient(top,  rgba(63,76,107,1) 0%, rgba(96,108,136,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(63,76,107,1)), color-stop(100%,rgba(96,108,136,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(63,76,107,1) 0%,rgba(96,108,136,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(63,76,107,1) 0%,rgba(96,108,136,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(63,76,107,1) 0%,rgba(96,108,136,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(63,76,107,1) 0%,rgba(96,108,136,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#00606c88',GradientType=0 ); /* IE6-9 */

}
.violet_linear_top{background: -moz-linear-gradient(top,  rgba(168,73,163,1) 0%, rgba(200,94,199,0.47) 53%, rgba(229,112,231,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(168,73,163,1)), color-stop(53%,rgba(200,94,199,0.47)), color-stop(100%,rgba(229,112,231,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(168,73,163,1) 0%,rgba(200,94,199,0.47) 53%,rgba(229,112,231,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(168,73,163,1) 0%,rgba(200,94,199,0.47) 53%,rgba(229,112,231,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(168,73,163,1) 0%,rgba(200,94,199,0.47) 53%,rgba(229,112,231,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(168,73,163,1) 0%,rgba(200,94,199,0.47) 53%,rgba(229,112,231,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a849a3', endColorstr='#00e570e7',GradientType=0 ); /* IE6-9 */

}

.orangered_linear_top{background: -moz-linear-gradient(top,  rgba(255,26,0,1) 0%, rgba(255,26,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,26,0,1)), color-stop(100%,rgba(255,26,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,26,0,1) 0%,rgba(255,26,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,26,0,1) 0%,rgba(255,26,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,26,0,1) 0%,rgba(255,26,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,26,0,1) 0%,rgba(255,26,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1a00', endColorstr='#00ff1a00',GradientType=0 ); /* IE6-9 */
}
.emerald_linear_top{background: -moz-linear-gradient(top,  rgba(57,130,53,1) 0%, rgba(138,182,107,0.44) 56%, rgba(201,222,150,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(57,130,53,1)), color-stop(56%,rgba(138,182,107,0.44)), color-stop(100%,rgba(201,222,150,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(57,130,53,1) 0%,rgba(138,182,107,0.44) 56%,rgba(201,222,150,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(57,130,53,1) 0%,rgba(138,182,107,0.44) 56%,rgba(201,222,150,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(57,130,53,1) 0%,rgba(138,182,107,0.44) 56%,rgba(201,222,150,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(57,130,53,1) 0%,rgba(138,182,107,0.44) 56%,rgba(201,222,150,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#398235', endColorstr='#00c9de96',GradientType=0 ); /* IE6-9 */
}


.pink_linear_top{background: -moz-linear-gradient(top,  rgba(239,1,124,1) 0%, rgba(255,93,177,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,1,124,1)), color-stop(100%,rgba(255,93,177,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(239,1,124,1) 0%,rgba(255,93,177,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(239,1,124,1) 0%,rgba(255,93,177,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(239,1,124,1) 0%,rgba(255,93,177,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(239,1,124,1) 0%,rgba(255,93,177,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef017c', endColorstr='#00ff5db1',GradientType=0 ); /* IE6-9 */
}
.lavender_linear_top{background: -moz-linear-gradient(top,  rgba(152,176,217,1) 0%, rgba(177,200,239,0.4) 59%, rgba(195,217,255,0) 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(152,176,217,1)), color-stop(59%,rgba(177,200,239,0.4)), color-stop(99%,rgba(195,217,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(152,176,217,1) 0%,rgba(177,200,239,0.4) 59%,rgba(195,217,255,0) 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(152,176,217,1) 0%,rgba(177,200,239,0.4) 59%,rgba(195,217,255,0) 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(152,176,217,1) 0%,rgba(177,200,239,0.4) 59%,rgba(195,217,255,0) 99%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(152,176,217,1) 0%,rgba(177,200,239,0.4) 59%,rgba(195,217,255,0) 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98b0d9', endColorstr='#00c3d9ff',GradientType=0 ); /* IE6-9 */
}
.skyblue_linear_top{background: -moz-linear-gradient(top,  rgba(161,219,255,1) 0%, rgba(203,235,255,0.47) 53%, rgba(240,249,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(161,219,255,1)), color-stop(53%,rgba(203,235,255,0.47)), color-stop(100%,rgba(240,249,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(161,219,255,1) 0%,rgba(203,235,255,0.47) 53%,rgba(240,249,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(161,219,255,1) 0%,rgba(203,235,255,0.47) 53%,rgba(240,249,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(161,219,255,1) 0%,rgba(203,235,255,0.47) 53%,rgba(240,249,255,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(161,219,255,1) 0%,rgba(203,235,255,0.47) 53%,rgba(240,249,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1dbff', endColorstr='#00f0f9ff',GradientType=0 ); /* IE6-9 */
}



/****************************************************

*********************************************************/


.blue_linear_bottom { background: -moz-linear-gradient(top,  rgba(135,224,253,0) 0%, rgba(83,203,241,0.4) 40%, rgba(5,171,224,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(135,224,253,0)), color-stop(40%,rgba(83,203,241,0.4)), color-stop(100%,rgba(5,171,224,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(135,224,253,0) 0%,rgba(83,203,241,0.4) 40%,rgba(5,171,224,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(135,224,253,0) 0%,rgba(83,203,241,0.4) 40%,rgba(5,171,224,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(135,224,253,0) 0%,rgba(83,203,241,0.4) 40%,rgba(5,171,224,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(135,224,253,0) 0%,rgba(83,203,241,0.4) 40%,rgba(5,171,224,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0087e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */

}


.red_linear_bottom { background: -moz-linear-gradient(top,  rgba(255,48,25,0) 0%, rgba(207,4,4,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,48,25,0)), color-stop(100%,rgba(207,4,4,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,48,25,0) 0%,rgba(207,4,4,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,48,25,0) 0%,rgba(207,4,4,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,48,25,0) 0%,rgba(207,4,4,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,48,25,0) 0%,rgba(207,4,4,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}


.orange_linear_bottom{background: -moz-linear-gradient(top,  rgba(255,175,75,0) 0%, rgba(255,175,74,0) 1%, rgba(255,146,10,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,175,75,0)), color-stop(1%,rgba(255,175,74,0)), color-stop(100%,rgba(255,146,10,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,175,75,0) 0%,rgba(255,175,74,0) 1%,rgba(255,146,10,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,175,75,0) 0%,rgba(255,175,74,0) 1%,rgba(255,146,10,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,175,75,0) 0%,rgba(255,175,74,0) 1%,rgba(255,146,10,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,175,75,0) 0%,rgba(255,175,74,0) 1%,rgba(255,146,10,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffaf4b', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */
}
.yellow_linear_bottom{background: -moz-linear-gradient(top,  rgba(254,252,234,0) 0%, rgba(241,218,54,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,252,234,0)), color-stop(100%,rgba(241,218,54,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(254,252,234,0) 0%,rgba(241,218,54,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(254,252,234,0) 0%,rgba(241,218,54,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(254,252,234,0) 0%,rgba(241,218,54,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(254,252,234,0) 0%,rgba(241,218,54,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */
}
.green_linear_bottom{background: -moz-linear-gradient(top,  rgba(210,255,82,0) 0%, rgba(209,255,82,0) 1%, rgba(145,232,66,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(210,255,82,0)), color-stop(1%,rgba(209,255,82,0)), color-stop(100%,rgba(145,232,66,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(210,255,82,0) 0%,rgba(209,255,82,0) 1%,rgba(145,232,66,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(210,255,82,0) 0%,rgba(209,255,82,0) 1%,rgba(145,232,66,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(210,255,82,0) 0%,rgba(209,255,82,0) 1%,rgba(145,232,66,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(210,255,82,0) 0%,rgba(209,255,82,0) 1%,rgba(145,232,66,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d2ff52', endColorstr='#91e842',GradientType=0 ); /* IE6-9 */
}

.indigo_linear_bottom{background: -moz-linear-gradient(top,  rgba(96,108,136,0) 0%, rgba(63,76,107,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(96,108,136,0)), color-stop(100%,rgba(63,76,107,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(96,108,136,0) 0%,rgba(63,76,107,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(96,108,136,0) 0%,rgba(63,76,107,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(96,108,136,0) 0%,rgba(63,76,107,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(96,108,136,0) 0%,rgba(63,76,107,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00606c88', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */


}
.violet_linear_bottom{background: -moz-linear-gradient(top,  rgba(229,112,231,0) 0%, rgba(200,94,199,0.47) 47%, rgba(168,73,163,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,112,231,0)), color-stop(47%,rgba(200,94,199,0.47)), color-stop(100%,rgba(168,73,163,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(229,112,231,0) 0%,rgba(200,94,199,0.47) 47%,rgba(168,73,163,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(229,112,231,0) 0%,rgba(200,94,199,0.47) 47%,rgba(168,73,163,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(229,112,231,0) 0%,rgba(200,94,199,0.47) 47%,rgba(168,73,163,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(229,112,231,0) 0%,rgba(200,94,199,0.47) 47%,rgba(168,73,163,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e570e7', endColorstr='#a849a3',GradientType=0 ); /* IE6-9 */
ss
}
.pink_linear_bottom{background: -moz-linear-gradient(top,  rgba(255,93,177,0) 0%, rgba(239,1,124,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,93,177,0)), color-stop(100%,rgba(239,1,124,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,93,177,0) 0%,rgba(239,1,124,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,93,177,0) 0%,rgba(239,1,124,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,93,177,0) 0%,rgba(239,1,124,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,93,177,0) 0%,rgba(239,1,124,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff5db1', endColorstr='#ef017c',GradientType=0 ); /* IE6-9 */
}


.orangered_linear_bottom{background: -moz-linear-gradient(top,  rgba(255,26,0,0) 0%, rgba(255,26,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,26,0,0)), color-stop(100%,rgba(255,26,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,26,0,0) 0%,rgba(255,26,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,26,0,0) 0%,rgba(255,26,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,26,0,0) 0%,rgba(255,26,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,26,0,0) 0%,rgba(255,26,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff1a00', endColorstr='#ff1a00',GradientType=0 ); /* IE6-9 */
}
.emerald_linear_bottom{background: -moz-linear-gradient(top,  rgba(201,222,150,0) 0%, rgba(138,182,107,0.44) 44%, rgba(57,130,53,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(201,222,150,0)), color-stop(44%,rgba(138,182,107,0.44)), color-stop(100%,rgba(57,130,53,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(201,222,150,0) 0%,rgba(138,182,107,0.44) 44%,rgba(57,130,53,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(201,222,150,0) 0%,rgba(138,182,107,0.44) 44%,rgba(57,130,53,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(201,222,150,0) 0%,rgba(138,182,107,0.44) 44%,rgba(57,130,53,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(201,222,150,0) 0%,rgba(138,182,107,0.44) 44%,rgba(57,130,53,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */
}
.lavender_linear_bottom{background: -moz-linear-gradient(top,  rgba(195,217,255,0) 1%, rgba(177,200,239,0.4) 41%, rgba(152,176,217,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(195,217,255,0)), color-stop(41%,rgba(177,200,239,0.4)), color-stop(100%,rgba(152,176,217,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(195,217,255,0) 1%,rgba(177,200,239,0.4) 41%,rgba(152,176,217,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(195,217,255,0) 1%,rgba(177,200,239,0.4) 41%,rgba(152,176,217,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(195,217,255,0) 1%,rgba(177,200,239,0.4) 41%,rgba(152,176,217,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(195,217,255,0) 1%,rgba(177,200,239,0.4) 41%,rgba(152,176,217,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c3d9ff', endColorstr='#98b0d9',GradientType=0 ); /* IE6-9 */
}
.skyblue_linear_bottom{background: -moz-linear-gradient(top,  rgba(240,249,255,0) 0%, rgba(203,235,255,0.47) 47%, rgba(161,219,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,249,255,0)), color-stop(47%,rgba(203,235,255,0.47)), color-stop(100%,rgba(161,219,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(240,249,255,0) 0%,rgba(203,235,255,0.47) 47%,rgba(161,219,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(240,249,255,0) 0%,rgba(203,235,255,0.47) 47%,rgba(161,219,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(240,249,255,0) 0%,rgba(203,235,255,0.47) 47%,rgba(161,219,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(240,249,255,0) 0%,rgba(203,235,255,0.47) 47%,rgba(161,219,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */
}


